.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
  table td.code { width: 100%; }
  border: 1px solid $pre-border !important;
}
.highlight .line-numbers, html .gist .gist-file .gist-syntax .highlight .line_numbers {
  text-align: right;
  font-size: 13px;
  line-height: 1.45em;
  background: lighten($base03, 1) $noise-bg !important;
  border-right: 1px solid darken($base02, 2) !important;
  @include box-shadow(lighten($base03, 2) -1px 0 inset);
  text-shadow: lighten($base02, 2) 0 -1px;
  span { color: $base01 !important; }
  padding: .8em !important;
  @include border-radius(0);
}

figure.code, .gist-file, pre {
  @include box-shadow(rgba(#000, .06) 0 0 10px);
  .highlight pre { @include box-shadow(none); }
}

.gist .highlight, figure.code .highlight {
  @include selection(adjust-color($base03, $lightness: -19%, $saturation: -65%), $text-shadow: $base03 0 1px);
}
html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
  padding-top: image-height("code_bg.png") !important;
  .highlight {
    margin-bottom: 0;
  }
  .gist-syntax {
    border-bottom: 0 !important;
    background: none !important;
    .gist-highlight {
      background: $base03 !important;
    }
    .highlight pre {
      @extend .pre-code;
      padding: 0;
    }
  }
  .gist-meta {
   padding: .6em 0.8em;
   border: 1px solid lighten($base02, 2) !important;
   color: $base01;
   font-size: .7em !important;
   background: lighten($base03, 2) $noise-bg;
   border: 1px solid $pre-border !important;
   border-top: 1px solid lighten($base03, 2) !important;
   @extend .sans;
   line-height: 1.5em;
    a {
      color: mix($base1, $base01) !important;
      @include hover-link;
      &:hover { color: $base1 !important; }
    }
    a[href*='#file'] {
      position: absolute; top: 0; left:0; right:-10px;
      color: #474747 !important;
      @extend .code-title;
      &:hover { color: $link-color !important; }
    }
    a[href*=raw]{
      @extend .download-source;
      top: .4em;
    }
  }
}
pre {
  background: $pre-bg $noise-bg;
  @include border-radius(.4em);
  @extend .mono;
  border: 1px solid $pre-border;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: $pre-color;
  overflow: auto;
}
h3.filename {
  @extend .code-title;
  + pre { @include border-top-radius(0px); }
}

p, li, * + table {
  code {
    @extend .mono;
    white-space: nowrap;
    font-size: .8em;
  }
  pre code { font-size: 1em !important; background: none; border: none; }
}

p > code , li > code, * + table code {
  color: #555;
}

.pre-code {
  font-family: $mono !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em;
  overflow-x: auto;
  line-height: 1.45em;
  background: $base03 $noise-bg !important;
  color: $base1;
  span { color: $base1 }
  span { font-style: normal !important; font-weight: normal !important; }


 .c { color: #999988; font-style: italic !important; } /* Comment */
 .err { color: #a61717; background-color: #e3d2d2 !important; } /* Error */
 .k { color: #000000; font-weight: bold !important; } /* Keyword */
 .o { color: #000000; font-weight: bold !important; } /* Operator */
 .cm { color: #999988; font-style: italic !important; } /* Comment.Multiline */
 .cp { color: #999999; font-weight: bold; font-style: italic !important; } /* Comment.Preproc */
 .c1 { color: #999988; font-style: italic !important; } /* Comment.Single */
 .cs { color: #999999; font-weight: bold; font-style: italic !important; } /* Comment.Special */
 .gd { color: #000000; background-color: #ffdddd !important; } /* Generic.Deleted */
 .ge { color: #000000; font-style: italic !important; } /* Generic.Emph */
 .gr { color: #aa0000 !important; } /* Generic.Error */
 .gh { color: #999999 !important; } /* Generic.Heading */
 .gi { color: #000000; background-color: #ddffdd !important; } /* Generic.Inserted */
 .go { color: #888888 !important; } /* Generic.Output */
 .gp { color: #555555 !important; } /* Generic.Prompt */
 .gs { font-weight: bold !important; } /* Generic.Strong */
 .gu { color: #aaaaaa !important; } /* Generic.Subheading */
 .gt { color: #aa0000 !important; } /* Generic.Traceback */
 .kc { color: #000000; font-weight: bold !important; } /* Keyword.Constant */
 .kd { color: #000000; font-weight: bold !important; } /* Keyword.Declaration */
 .kn { color: #000000; font-weight: bold !important; } /* Keyword.Namespace */
 .kp { color: #000000; font-weight: bold !important; } /* Keyword.Pseudo */
 .kr { color: #000000; font-weight: bold !important; } /* Keyword.Reserved */
 .kt { color: #445588; font-weight: bold !important; } /* Keyword.Type */
 .m { color: #009999 !important; } /* Literal.Number */
 .s { color: #d01040 !important; } /* Literal.String */
 .na { color: #008080 !important; } /* Name.Attribute */
 .nb { color: #0086B3 !important; } /* Name.Builtin */
 .nc { color: #445588; font-weight: bold !important; } /* Name.Class */
 .no { color: #008080 !important; } /* Name.Constant */
 .nd { color: #3c5d5d; font-weight: bold !important; } /* Name.Decorator */
 .ni { color: #800080 !important; } /* Name.Entity */
 .ne { color: #990000; font-weight: bold !important; } /* Name.Exception */
 .nf { color: #990000; font-weight: bold !important; } /* Name.Function */
 .nl { color: #990000; font-weight: bold !important; } /* Name.Label */
 .nn { color: #555555 !important; } /* Name.Namespace */
 .nt { color: #000080 !important; } /* Name.Tag */
 .nv { color: #008080 !important; } /* Name.Variable */
 .ow { color: #000000; font-weight: bold !important; } /* Operator.Word */
 .w { color: #bbbbbb !important; } /* Text.Whitespace */
 .mf { color: #009999 !important; } /* Literal.Number.Float */
 .mh { color: #009999 !important; } /* Literal.Number.Hex */
 .mi { color: #009999 !important; } /* Literal.Number.Integer */
 .mo { color: #009999 !important; } /* Literal.Number.Oct */
 .sb { color: #d01040 !important; } /* Literal.String.Backtick */
 .sc { color: #d01040 !important; } /* Literal.String.Char */
 .sd { color: #d01040 !important; } /* Literal.String.Doc */
 .s2 { color: #d01040 !important; } /* Literal.String.Double */
 .se { color: #d01040 !important; } /* Literal.String.Escape */
 .sh { color: #d01040 !important; } /* Literal.String.Heredoc */
 .si { color: #d01040 !important; } /* Literal.String.Interpol */
 .sx { color: #d01040 !important; } /* Literal.String.Other */
 .sr { color: #009926 !important; } /* Literal.String.Regex */
 .s1 { color: #d01040 !important; } /* Literal.String.Single */
 .ss { color: #990073 !important; } /* Literal.String.Symbol */
 .bp { color: #999999 !important; } /* Name.Builtin.Pseudo */
 .vc { color: #008080 !important; } /* Name.Variable.Class */
 .vg { color: #008080 !important; } /* Name.Variable.Global */
 .vi { color: #008080 !important; } /* Name.Variable.Instance */
 .il { color: #009999 !important; } /* Literal.Number.Integer.Long */
  div { .gd, .gd .x, .gi, .gi .x { display: inline-block; width: 100%; }}
}

.highlight, .gist-highlight {
  pre { background: none; @include border-radius(0px); border: none; padding: 0; margin-bottom: 0; }
  margin-bottom: 1.8em;
  background: $base03;
  overflow-y: hidden;
  overflow-x: auto;
}

$solar-scroll-bg: rgba(#000, .15);
$solar-scroll-thumb: rgba(#000, .15);

pre, .highlight, .gist-highlight {
  &::-webkit-scrollbar {  height: .5em; background: $solar-scroll-bg; }
  &::-webkit-scrollbar-thumb:horizontal { background: $solar-scroll-thumb;  -webkit-border-radius: 4px; border-radius: 4px }
}

.highlight code { 
  @extend .pre-code; background: #000;
}
figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
  pre { margin-bottom: 0; }
  figcaption {
    position: relative;
    @extend .code-title;
    a { @extend .download-source; }
  }
  .highlight {
    margin-bottom: 0;
  }
}

.code-title {
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  @include border-top-radius(5px);
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: #aaaaaa image-url("code_bg.png") top repeat-x;
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
}

.download-source {
  position: absolute; right: .8em;
  @include hover-link;
  color: #666 !important;
  z-index: 1;
  font-size: 13px;
  text-shadow: #cbcccc 0 1px 0;
  padding-left: 3em;
}
